@charset "utf-8";

@font-face {
  font-family: Archer;
  src: url("../../../../public/assets/archer-medium-opentype.otf");
  font-weight: normal;
}

body * {
  border-radius: 0;
}

/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/

.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.transform(...) {
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -o-transform: @arguments;
  -ms-transform: @arguments;
  transform: @arguments;
}

.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}

.flex {
  /*old syntax*/
  display: -webkit-box;
  display: -moz-box;
  /*IE 10*/
  display: -ms-flexbox;
  /*new syntax*/
  display: -webkit-flex;
  display: flex;
}

.circle() {
  .rounded(50%);
}

.after-basis() {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
}

.font-awesome() {
  font-family: 'FontAwesome';
}

/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/

@orange: #F9A153;
@red: #D12027;

iframe {
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
  .transition();

  &:focus {
    outline: none;
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    color: @orange;
    text-decoration: none;
  }
}

html {
  font-size: 62.5%;
  &.cssanimations .onscroll-animate {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 0;
  }

  @media (max-width: 320px) {
    font-size: 55%;
  }
  @media only screen and (min-width: 321px) and (max-width: 425px) {
    font-size: 60%;
  }
  @media only screen and (min-width: 426px) and (max-width: 768px) {
    font-size: 65%;
  }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    font-size: 65%;
  }
  @media only screen and (min-width: 1025px) and (max-width: 1280px) {
    font-size: 60%;
  }
  @media only screen and (min-width: 1281px) and (max-width: 1440px) {
    font-size: 65%;
  }
  @media (min-width: 1441px) {
    font-size: 70%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #404040;
  background: #FFF;
  max-width: 1920px;
  margin: 0 auto;

  &.bg-alt {
    background: url('../images/backgrounds/bg1_alt.png');
  }

  > section {
    margin: 45px 0;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

h1 {
  font-family: Archer, "Cormorant Garamond", Vollkorn, "Old Standard TT", "Times New Roman", serif;
  font-size: 2.7rem;
  line-height: 3.2rem;
  margin-bottom: 25px;
  font-weight: normal;
}

h2 {
  font-family: Archer, "Cormorant Garamond", Vollkorn, "Old Standard TT", "Times New Roman", serif;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 25px;
  font-weight: normal;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.3rem;
  line-height: 2.8rem;
  font-weight: 400;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.1rem;
  line-height: 2.6rem;
  font-weight: 400;
  letter-spacing: 0px;
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.9rem;
  line-height: 2.4rem;
  font-weight: 400;
}

h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-weight: 400;
}

a, p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 400;
}

hr {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  margin: 30px 0;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

/* ===== menu ===== */
#main-navigation-container {
  position: relative;
  z-index: 300;

  &.fixed-pos {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    .transform(translateY(-100%));

    &.active {
      #main-navigation-inner {
        background-color: #000;
        padding: 12px 0;
        .transform(translateY(100%));
      }
    }

    #main-navigation-inner {
      opacity: 0.8;
      .transform(translateY(0));

      &:hover {
        opacity: 1;
      }
    }
  }
}

#main-navigation-container.fixed-pos {
  #main-navigation,
  #main-navigation-button {
    color: #FFF;
  }
}

#main-navigation-inner {
  .transform(translateY(0));
  .transition(0.3s, linear);
}

.relative-container {
  position: relative;
}

#main-navigation-button {
  font-size: 2.5rem;
  padding: 30px 0 0 30px;
  float: right;
  display: none;
  cursor: pointer;
  color: #000;
}

@media (max-width: 1249px) {
  #main-navigation-button {
    display: block;
    color: #000;
  }

  .page-logo {
    zoom: 70%;
  }
}

.page-logo {
  margin-right: 9px;
}
.product-slider ul {
  width:100%;
}
.product-slider ul li{
  width:33%;
}
#main-navigation {
  color: #343434;

  > ul > li {
    &:after {
      background-color: #343434;
    }

    ul {
      color: #FFF;
    }
  }
}

#main-navigation {
  padding: 30px 0 0 0;
  color: #343434;
  float: right;

  > ul > li {
    display: inline-block;
    position: relative;

    &:after {
      position: absolute;
      width: 1px;
      height: 15px;
      top: 50%;
      right: -2px;
      margin-top: -7px;
      background-color: #343434;
      content: '';
    }

    &:hover > a:after {
      bottom: 6px;
      opacity: 1;
      .transform(scale(1));
    }

    &:last-of-type:after {
      display: none;
    }

    > ul {
      display: none;
      position: absolute;
      background: #000;
      text-align: center;
      padding: 10px 20px;
      min-width: 200px;
    }

    a,
    .menu-item {
      position: relative;
      display: inline-block;
      padding: 11px 15px;

      &:after {
        position: absolute;
        height: 1px;
        left: 15px;
        right: 15px;
        bottom: 2px;
        opacity: 0;
        background-color: @orange;
        pointer-events: none;
        .transform(scale(0.7));
        .transition();
        content: '';
      }

      &:hover {
        color: @orange;

        &:after {
          bottom: 6px;
          opacity: 1;
          .transform(scale(1));
        }
      }
    }

    .menu-item i {
      .transition();
    }
  }

  li {
    &.active > a,
    &.active > .menu-item {
      color: @orange;

      &:after {
        bottom: 6px;
        opacity: 1;
        .transform(scale(1));
      }
    }

    &.active-child {
      > a,
      > .menu-item {
        &:after {
          bottom: 6px;
          opacity: 1;
          .transform(scale(1));
        }
      }
    }

    &.delimiter {
      height: 1px;
      background-color: rgba(255, 255, 255, 0.5);
      width: 80%;
      max-width: 150px;
      margin: 10px auto;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

#main-navigation-placeholder {
  display: none;

  &.active {
    display: block;
  }
}

@media (max-width: 1249px) {
  #main-navigation {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background: #000;
    text-align: center;
    padding: 10px 30px;
    visibility: hidden;
    opacity: 0;
    .transform(translateY(100%));
    .transition(0.3s);

    &.active {
      visibility: visible;
      opacity: 1;
    }

    > ul > li {
      display: block;

      &:after {
        display: none;
      }

      > ul {
        position: static;
        min-width: 1px;
      }
    }
  }
}

.has-small-label {
  position: relative;

  .small-label {
    position: absolute;
    top: 0;
    right: 0px;
    width: 16px;
    height: 16px;
    background-color: @orange;
    color: #000000;
    font-size: 13px;
    text-align: center;
    line-height: 16px;
    .rounded(4px);
    .transform(rotate(45deg));

    span {
      display: inline-block;
      .transform(rotate(-45deg));
    }
  }
}

.page-header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0 0 30px 0;
  border: none;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.9);

  &.page-header-normal {
    position: static;
    left: auto;
    top: auto;
    background: none;
  }
}

/* ===== menu ===== */

.button-clean,
.button-red,
.button-void,
.button-void-alt,
.button-yellow,
.button-green {
  font-size: 1.5rem;
  line-height: 2rem !important;
  display: inline-block;
  padding: 10px 34px !important;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #FFF;
  border-radius: 0px;
  .transition();
}

.button-clean {
  &:hover {
    color: #000;
    background-color: #f4cd03;
    border-color: #f4cd03;
  }
}

.form-control {
  border-radius: 0px;
}

.section-gray {
  color: #c1c6cd;

  .button-clean {
    color: #c1c6cd;

    &:hover {
      color: #000;
    }
  }
}

.button-red {
  color: #FFF;
  background-color: @red;
  border-radius: 0px !important;

  &:focus,
  &:hover {
    color: #FFF;
    background-color: #cb2918;
  }
}

.button-yellow {
  color: #FFF;
  background-color: @orange;
  border-radius: 0px !important;

  &:focus,
  &:hover {
    color: #FFF;
    background-color: @orange;
  }
}

//.button-clean.button-text-big,
//.button-red.button-text-big,
//.button-void.button-text-big,
//.button-void-alt.button-text-big,
//.button-yellow.button-text-big {
//  font-size: 20px;
//}

//input.button-yellow.button-heavy {
//  padding: 10px 34px !important;
//  border-radius: 0px;
//}
//
//.button-red.button-heavy {
//  padding: 10px 34px !important;
//  border-radius: 0px;
//}

//.button-clean.button-text-big.with-right-arrow,
//.button-red.button-text-big.with-right-arrow,
//.button-void.button-text-big.with-right-arrow,
//.button-void-alt.button-text-big.with-right-arrow,
//.button-yellow.button-text-big.with-right-arrow {
//  padding-right: 58px;
//}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: transparent;
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: transparent;
}

.input-lg {
  font-size: 1.5rem;
  border-radius: 0px;
}

/* ===== page top ===== */
.page-top {
  background-color: #000000;
  padding: 10px 0;
  margin-bottom: 25px;
  color: #fff;
}

.page-top a, .page-top p {
  font-size: 1.3rem;
}

/* ===== page top ===== */

/* ===== footer ===== */
.page-footer {
  position: relative;
  z-index: 1;
  background-color: #f2f2f2 !important;
  color: #000;
  padding-top: 25px;
  font-size: 17px;
  text-align: center;

  &:after {
    border-top: 2px solid black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/backgrounds/bg3.png');
    background-position: 37px 0;
    opacity: 0.07;
    z-index: -1;
    content: '';
  }
  svg {
    fill: @orange;
  }
  .opening-hours-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

.opening-hours-wrapper {
  max-width: 400px;
}

address > p {
  font-style: italic;
  margin: 0 0 30px 0;
}

.form-subscribe {
  margin: 20px 0 30px 0;

  input[type=email] {
    width: 100%;
    border: 1px @orange solid;
    background: #FFF;
    outline: none;
    color: #000;
    font-size: 17px;
    font-style: normal;
    padding: 10px 17px;
  }
}

.return-msg {
  opacity: 0;
  visibility: hidden;
  .transition(0.3s);

  &.show-return-msg {
    opacity: 1;
    visibility: visible;
    padding: 5px 0;
  }
}

.site-info {
  position: relative;
  background-color: #000;
  color: #FFF;
  font-style: italic;
  padding: 14px 0;
  //margin-top: 60px;
}

.site-info p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.footer-socials a {
  padding: 0 3px;
}

#scroll-top {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 30px;
  top: -19px;
  background-color: #FFF;
  line-height: 36px;
  font-size: 30px;
  color: #010101;
  border: 2px #000 solid;
  text-align: center;
  cursor: pointer;
  z-index: 10;
  .transform(rotate(45deg));
  .rounded(3px);

  &:hover i {
    .transform(rotate(-45deg) translateY(-5px));
  }

  i {
    position: relative;
    top: 2px;
    .transform(rotate(-45deg));
    .transition();
  }
}

@media (max-width: 991px) {
  #scroll-top {
    display: none;
  }
}

/* ===== footer ===== */

/* ===== every page banner image ===== */
.page-title-img {
  position: relative;
  color: #000;
  font-size: 19px;
  font-style: italic;
  text-align: center;
  margin-bottom: 45px;

  > .container {
    position: relative;
    z-index: 1;
  }

  h1 {
    font-size: 3.9rem;
    line-height: 4.2rem;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  .page-title {
    position: absolute;
    bottom: 12%;
    left: 0;
    width: 100%;
  }
}

@media (max-width: 1600px) {
  .page-title-img {
    margin-top: 0;
  }
}

.img-full {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 767px) {
  .page-title-img p {
    display: none;
  }

  .push-right-xs {
    float: right;
  }
}

/* ===== every page banner image ===== */
.bottom-line {
  position: relative;
  text-align: center;
  margin-bottom: 30px;

  &:after {
    position: absolute;
    left: 50%;
    bottom: -17px;
    width: 30px;
    height: 2px;
    margin-left: -15px;
    background-color: #dddddd;
    content: '';
  }
}

.bg-white {
  color: #000;
  background-color: #f7f7f7;
}

.bg-pattern {
  position: relative;
  z-index: 1;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/backgrounds/bg3.png');
    opacity: 0.07;
    z-index: -1;
    content: '';
  }
}

.btn {
  border-radius: 0px;
}

.button-clean {
  &:hover {
    color: #000;
    background-color: @orange;
    border-color: @orange;
  }
}

.button-void {
  border: 2px #FFF solid;
}

.button-void-alt {
  border: 1px #FFF solid;
  text-transform: none;

  &:hover {
    color: #000;
    background-color: @orange;
    border-color: @orange;
  }
}

.margin-5 {
  height: 5px;
}

.margin-15 {
  height: 15px;
}

.margin-left {
  margin-left: 25px;
}

/*== 4 Animations ==*/

@keyframes loader-pizza-corpus {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  35% {
    transform: scale(1);
    opacity: 1;
  }
  65% {
    transform: scale(0.5);
    opacity: 0;
  }
  80% {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes loader-pizza-piece {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  35% {
    transform: translate(24px, -26px);
  }
  65% {
    transform: translate(-50%, 50%) scale(2);
  }
  80% {
    transform: translate(-50%, 50%) scale(2);
  }
}

/*== 4 Animations ==*/

@media (max-width: 1600px) {
  .page-header {
    background: rgba(0, 0, 0, 0.4);
    position: static;
    left: auto;
    top: auto;
  }

}

@media (max-width: 767px) {
  .page-header {
    position: static;
    left: auto;
    top: auto;
  }
}

@media (max-width: 425px) {
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
}

/*== 6 Retina backgrounds ==*/
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
  background-image: url('../images/section_delimiter@2x.png');
}

/* buttons */
.flat-orange-btn {
  background-color: @orange;
  color: #FFF;
  border-radius: 0 !important;
  margin: 0;

}

.flat-red-btn {
  background-color: @red;
  color: #FFF;
  border-radius: 0 !important;
  margin: 0;
}

.flat-orange-btn, .flat-red-btn {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 12px 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

/* buttons */

.fa-shopping-cart {
  font-size: 1.8rem;
}