<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>SpryPizza</title>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKOnrOhuNeDi9Z_V32-kvMqnNvH2ZAeKQ" type="text/javascript"></script>

    <link rel="stylesheet" href="dist/css/framework7.ios.min.css">
    <link rel="stylesheet" href="dist/css/framework7.ios.colors.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="stylesheet" href="dist/Icons-master/css/framework7-icons.css">
</head>

<body>

<div id="app">

    <!-- Statusbar -->
    <f7-statusbar></f7-statusbar>

    <!-- Panels overlay-->
    <div class="panel-overlay"></div>

    <!-- Left Panel -->
    <f7-panel left reveal layout="dark">
        <f7-view id="left-panel-view" navbar-through :dynamic-navbar="true">
            <f7-pages>
                <f7-page>
                    <left-panel></left-panel>
                </f7-page>
            </f7-pages>
        </f7-view>
    </f7-panel>

    <!-- Main Views -->
    <f7-views>
        <f7-view id="main-view" navbar-through :dynamic-navbar="true" main>
            <!-- iOS Theme Navbar -->
            <f7-navbar v-if="$theme.ios">
                <f7-nav-left>
                    <a href="#" class="open-panel" data-panel="left"><i class="f7-icons size-22">info</i></a>
                    <!--<f7-link icon="icon-bars" open-panel="left"></f7-link>-->
                </f7-nav-left>
                <f7-nav-center>SpryPizza</f7-nav-center>
                <f7-nav-right>
                    <a href="/login/"><i class="f7-icons size-22">person</i></a>
                    <!--<f7-link icon="icon-bars" open-panel="right"></f7-link>-->
                </f7-nav-right>
            </f7-navbar>
            <!-- Pages -->
            <f7-pages>

                <f7-page>
                    <!-- Material Theme Navbar -->
                    <!--<f7-navbar v-if="$theme.material">-->
                    <!--<f7-nav-left>-->
                    <!--<f7-link icon="icon-bars" open-panel="left"></f7-link>-->
                    <!--</f7-nav-left>-->
                    <!--<f7-nav-center sliding>SpryPizza</f7-nav-center>-->
                    <!--<f7-nav-right>-->
                    <!--<f7-link icon="icon-bars" open-panel="right"></f7-link>-->
                    <!--</f7-nav-right>-->
                    <!--</f7-navbar>-->
                    <f7-block>
                        <div style="position: relative; height: 85vh;">
                            <img style="position: absolute; top: 0px; right: 0; width: 100%;" src="img/top-back.png">
                            <img style="position: absolute; bottom: 0px; left: 0; width: 100%;" src="img/bottom-back.png">
                            <div style="position: absolute; top: 15%; width:50%; margin-left:25%;">
                                <div style="overflow: hidden;">
                                    <a href="/menu/" class="item-link"><img style="width: 100%; height:auto; display: block;" src="img/sprypizzaPG-new-order.png"></a>
                                    <a href="/track-order/" class="item-link"><img style="width: 100%; height:auto; display: block;" src="img/sprypizzaPG-track-order.png"></a>
                                </div>
                            </div>
                        </div>
                    </f7-block>
                </f7-page>

                <!-- Bottom Tabbar-->
                <div class="toolbar tabbar tabbar-labels">
                    <div class="toolbar-inner bottom-padding">
                        <a href="/" class="item-link"><i class="f7-icons">home</i><span class="tabbar-label">Home</span></a>
                        <a href="/menu/" class="item-link"><i class="f7-icons">favorites</i><span class="tabbar-label">Menu</span></a>
                        <a href="/cart/" class="item-link"><i class="f7-icons">bag</i><span class="tabbar-label">Cart</span><item-count></item-count></a>
                        <a href="/track-order/" class="item-link"><i class="f7-icons">navigation_fill</i><span class="tabbar-label">Track</span></a>
                    </div>
                </div>

            </f7-pages>
        </f7-view>
    </f7-views>

    <!-- Popup -->
    <f7-popup id="popup">
        <f7-view navbar-fixed>
            <f7-pages>
                <f7-page>
                    <f7-navbar title="Popup">
                        <f7-nav-right>
                            <f7-link close-popup>Close</f7-link>
                        </f7-nav-right>
                    </f7-navbar>
                    <f7-block>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, architecto. Cupiditate
                        laudantium rem nesciunt numquam, ipsam. Voluptates omnis, a inventore atque ratione aliquam.
                        Omnis iusto nemo quos ullam obcaecati, quod.
                    </f7-block>
                </f7-page>
            </f7-pages>
        </f7-view>
    </f7-popup>

</div>

<template id="left-panel">
    <f7-list>
        <f7-list-item link="/branches/" title="Our Branches" link-view="#main-view" link-close-panel></f7-list-item>
        <f7-list-item link="/branch/" title="Closest Branch" link-view="#main-view" link-close-panel></f7-list-item>
        <f7-list-item link="/account/" title="My Account" link-view="#main-view" link-close-panel v-show="isLoggedIn"></f7-list-item>
        <f7-list-item link="/orders/" title="My Orders" link-view="#main-view" link-close-panel v-show="isLoggedIn"></f7-list-item>
        <f7-list-item link="/rewards/" title="My Rewards" link-view="#main-view" link-close-panel v-show="isLoggedIn"></f7-list-item>
        <f7-list-item link="/register/" title="Register" link-view="#main-view" link-close-panel v-show="!isLoggedIn"></f7-list-item>
    </f7-list>
</template>

<template id="item-count">
    <span class="badge color-red">{{ itemcount }}</span>
</template>

<!-- home Page Template -->
<template id="page-home">
    <f7-page>
        <!-- Material Theme Navbar -->
        <!--<f7-navbar v-if="$theme.material">-->
        <!--<f7-nav-left>-->
        <!--<f7-link icon="icon-bars" open-panel="left"></f7-link>-->
        <!--</f7-nav-left>-->
        <!--<f7-nav-center sliding>SpryPizza</f7-nav-center>-->
        <!--<f7-nav-right>-->
        <!--<f7-link icon="icon-bars" open-panel="right"></f7-link>-->
        <!--</f7-nav-right>-->
        <!--</f7-navbar>-->
        <f7-block>
            <div style="position: relative; height: 85vh;">
                <img style="position: absolute; top: 0px; right: 0; width: 100%;" src="img/top-back.png">
                <img style="position: absolute; bottom: 0px; left: 0; width: 100%;" src="img/bottom-back.png">
                <div style="position: absolute; top: 15%; width:50%; margin-left:25%;">
                    <div style="overflow: hidden;">
                        <a href="/menu/" class="item-link"><img style="width: 100%; height:auto; display: block;" src="img/sprypizzaPG-new-order.png"></a>
                        <a href="/track-order/" class="item-link"><img style="width: 100%; height:auto; display: block;" src="img/sprypizzaPG-track-order.png"></a>
                    </div>
                </div>
            </div>
        </f7-block>
    </f7-page>
</template>



<!-- footer track order -->
<template id="page-rewards">
    <f7-page>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="f7-icons size-22 left-side-icon">left</i>
                        <!-- Back link text rendered only for iOS theme -->
                        <span>Back</span>
                    </a>
                </div>
                <div class="center">My Rewards</div>
                <div class="right">
                    <a href="#" class="open-panel" data-panel="left"><i class="f7-icons size-22">info</i></a>
                    <a href="/login/"><i class="f7-icons size-22">person</i></a>
                </div>
            </div>
        </div>
        <f7-block inner>
            <section style="padding: 10px;">
                <h1 class="text-center">Order Tracking</h1>
                <hr style="margin-top: 10px; margin-bottom: 10px;">
                <p class="text-center">Get your order status</p>
                <br>
                .....
            </section>
        </f7-block>
    </f7-page>
</template>


<!-- footer track order -->
<template id="page-track-order">
    <f7-page>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="f7-icons size-22 left-side-icon">left</i>
                        <!-- Back link text rendered only for iOS theme -->
                        <span>Back</span>
                    </a>
                </div>
                <div class="center">Track Order</div>
                <div class="right">
                    <a href="#" class="open-panel" data-panel="left"><i class="f7-icons size-22">info</i></a>
                    <a href="/login/"><i class="f7-icons size-22">person</i></a>
                </div>
            </div>
        </div>
        <f7-block inner>
            <section style="padding: 10px;">
                <h1 class="text-center">Order Tracking</h1>
                <hr style="margin-top: 10px; margin-bottom: 10px;">
                <p class="text-center">Get your order status</p>
                <br>
                <order-tracking></order-tracking>
            </section>
        </f7-block>
    </f7-page>
</template>


<!-- menu Page Template -->
<template id="page-menu">
    <f7-page>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="f7-icons size-22 left-side-icon">left</i>
                        <!-- Back link text rendered only for iOS theme -->
                        <span>Back</span>
                    </a>
                </div>
                <div class="center">Menu</div>
                <div class="right">
                    <a href="#" class="open-panel" data-panel="left"><i class="f7-icons size-22">info</i></a>
                    <a href="/login/"><i class="f7-icons size-22">person</i></a>
                </div>
            </div>
        </div>
        <f7-block inner>
            <section style="padding: 10px;">
                <groupscontainer></groupscontainer>
                <itemscontainer></itemscontainer>
            </section>
        </f7-block>
    </f7-page>
</template>

<!-- cart Page Template -->
<template id="page-cart">
    <f7-page>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="f7-icons size-22 left-side-icon">left</i>
                        <!-- Back link text rendered only for iOS theme -->
                        <span>Back</span>
                    </a>
                </div>
                <div class="center">Cart</div>
                <div class="right">
                    <a href="#" class="open-panel" data-panel="left"><i class="f7-icons size-22">info</i></a>
                    <a href="/login/"><i class="f7-icons size-22">person</i></a>
                </div>
            </div>
        </div>
        <f7-block inner>
            <section style="padding: 10px;">
                <shoppingcart></shoppingcart>
            </section>
        </f7-block>
    </f7-page>
</template>

<!-- branches Page Template -->
<template id="page-branches">
    <f7-page>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="f7-icons size-22 left-side-icon">left</i>
                        <!-- Back link text rendered only for iOS theme -->
                        <span>Back</span>
                    </a>
                </div>
                <div class="center">Our Branches</div>
                <div class="right">
                    <a href="#" class="open-panel" data-panel="left"><i class="f7-icons size-22">info</i></a>
                    <a href="/login/"><i class="f7-icons size-22">person</i></a>
                </div>
            </div>
        </div>
        <f7-block inner>
            <section>
                <branches></branches>
            </section>
        </f7-block>
    </f7-page>
</template>

<!-- branch Page Template -->
<template id="page-branch">
    <f7-page>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="f7-icons size-22 left-side-icon">left</i>
                        <!-- Back link text rendered only for iOS theme -->
                        <span>Back</span>
                    </a>
                </div>
                <div class="center">Closest Branch</div>
                <div class="right">
                    <a href="#" class="open-panel" data-panel="left"><i class="f7-icons size-22">info</i></a>
                    <a href="/login/"><i class="f7-icons size-22">person</i></a>
                </div>
            </div>
        </div>
        <f7-block inner class="ClosestBranch">
            <section>
                <closest-branch></closest-branch>
            </section>
        </f7-block>
    </f7-page>
</template>

<!-- account Page Template -->
<template id="page-account">
    <f7-page>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="f7-icons size-22 left-side-icon">left</i>
                        <!-- Back link text rendered only for iOS theme -->
                        <span>Back</span>
                    </a>
                </div>
                <div class="center">My Account</div>
                <div class="right">
                    <a href="#" class="open-panel" data-panel="left"><i class="f7-icons size-22">info</i></a>
                    <a href="/login/"><i class="f7-icons size-22">person</i></a>
                </div>
            </div>
        </div>
        <f7-block inner>
            <section style="padding: 10px;">
                <account-form></account-form>
            </section>
        </f7-block>
    </f7-page>
</template>

<!-- orders Page Template -->
<template id="page-orders">
    <f7-page>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="f7-icons size-22 left-side-icon">left</i>
                        <!-- Back link text rendered only for iOS theme -->
                        <span>Back</span>
                    </a>
                </div>
                <div class="center">My Orders</div>
                <div class="right">
                    <a href="#" class="open-panel" data-panel="left"><i class="f7-icons size-22">info</i></a>
                    <a href="/login/"><i class="f7-icons size-22">person</i></a>
                </div>
            </div>
        </div>
        <!--<f7-navbar title="My Orders" back-link="Back" sliding></f7-navbar>-->
        <f7-block inner>
            <section style="padding: 10px;">
                <div id="orders-container">
                    <table-rows v-bind:rows="tableData"></table-rows>
                    <table-pagination v-bind:page="page" v-bind:total="total" v-bind:filtered="filtered"></table-pagination>
                </div>
            </section>
        </f7-block>
    </f7-page>
</template>

<!-- register Page Template -->
<template id="page-register">
    <f7-page>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="f7-icons size-22 left-side-icon">left</i>
                        <!-- Back link text rendered only for iOS theme -->
                        <span>Back</span>
                    </a>
                </div>
                <div class="center">Register</div>
                <div class="right">
                    <a href="#" class="open-panel" data-panel="left"><i class="f7-icons size-22">info</i></a>
                    <a href="/login/"><i class="f7-icons size-22">person</i></a>
                </div>
            </div>
        </div>
        <!--<f7-navbar title="Register" back-link="Back" sliding></f7-navbar>-->
        <f7-block inner>
            <section style="padding: 10px;">
                <register-form></register-form>
            </section>
        </f7-block>
    </f7-page>
</template>

<!-- checkout Page Template -->
<template id="page-checkout">
    <f7-page>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="f7-icons size-22 left-side-icon">left</i>
                        <!-- Back link text rendered only for iOS theme -->
                        <span>Back</span>
                    </a>
                </div>
                <div class="center">Checkout</div>
                <div class="right">
                    <a href="#" class="open-panel" data-panel="left"><i class="f7-icons size-22">info</i></a>
                    <a href="/login/"><i class="f7-icons size-22">person</i></a>
                </div>
            </div>
        </div>
        <!--<f7-navbar title="Checkout" back-link="Back" sliding></f7-navbar>-->
        <f7-block inner>
            <section style="padding: 10px;">
                <div id="order-map">
                    <Gmap :zoom="14" :search="true" :event="true"></Gmap>
                </div>
                <div>
                    <address-template></address-template>
                </div>
                <div>
                    <addresses-listing :addresses="addresses" :disabled="disabled"></addresses-listing>
                </div><!-- addresses-container -->
                <br/>
                <div>
                    <checkout-cart :address="address" :latitude="latitude" :longitude="longitude" :branch_id="branch_id"></checkout-cart>
                </div>
            </section>
        </f7-block>
    </f7-page>
</template>

<!-- login Page Template -->
<template id="page-login">
    <f7-page>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="f7-icons size-22 left-side-icon">left</i>
                        <!-- Back link text rendered only for iOS theme -->
                        <span>Back</span>
                    </a>
                </div>
                <div class="center">Login</div>
                <div class="right">
                    <a href="#" class="open-panel" data-panel="left"><i class="f7-icons size-22">info</i></a>
                    <a href="/login/"><i class="f7-icons size-22">person</i></a>
                </div>
            </div>
        </div>
        <f7-block inner>
            <section style="padding: 10px;">
                <div>
                    <div>
                        <h1>Welcome Back!</h1>
                        <p style="margin: 0px;">Sign In To Your Account to See What’s Cooking.</p>
                    </div>
                    <form id="login_Form" class="list-block" method="post" url="https://sprypizza.com/api/login">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">Country</div>
                                        <countries-listing :country_id="country_id"></countries-listing>
                                    </div>
                                </div>
                            </li>

                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input class="form-control" name="mobile_number" placeholder="Mobile Number" v-model="mobile" autocomplete="off"/>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <button type="button" name="sendSMS" class="button button-big color-orange" autocomplete="off" @click="Send()" v-bind:disabled="isDisabled" style="width:100%;">
                                                Get pin
                                            </button>
                                            <login-errors :error="error" :pin="pin"></login-errors>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <input class="form-control" name="pin_number" placeholder="PIN" autocomplete="off"/>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <label style="padding-left: 5px;" name="rememberMe">Remember me</label>&nbsp;
                                            <input style="float: left; font-weight: normal;" type="checkbox" name="rememberMe" checked="checked"/>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <button type="submit" class="button button-big color-orange" style="width: 100%;">
                                                Login
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <button type="submit" class="button button-big color-blue" style="width: 100%;">
                                                Facebook Login
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </form>
                    <hr>

                    <a href="/register/" class="item-link" style="color: #6e6e6e; margin-bottom:3%;">
                        <p style="text-align: center;">New here? Register an account</p></a>
                </div>
            </section>
        </f7-block>
    </f7-page>
</template>

<!-- track Page Template -->
<template id="page-track">
    <f7-page>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="f7-icons size-22 left-side-icon">left</i>
                        <!-- Back link text rendered only for iOS theme -->
                        <span>Back</span>
                    </a>
                </div>
                <div class="center">Track your order</div>
                <div class="right">
                    <a href="#" class="open-panel" data-panel="left"><i class="f7-icons size-22">info</i></a>
                    <a href="/login/"><i class="f7-icons size-22">person</i></a>
                </div>
            </div>
        </div>
        <f7-block inner>
            <section style="padding: 10px;">
                <div>
                    <div id="tracking-container">

                        <h1>Track your<span style="color: #999;">&nbsp;&nbsp;Order no {{ order.order_id }}</span></h1>
                        <h2 style="margin-top: 0px;">Start drolling</h2>
                        <!--<br><br>-->
                        <!--<div class="label label-success" style="width: 100% !important; border-radius: 0;"><p style="margin-top: 0px;"><b>Order Status</b></p></div>-->
                        <div style="padding:20px; height: 190px;">
                            <status-bar></status-bar>
                        </div>
                        <div style="border: 4px solid #ccc; margin-bottom: 15px;">
                            <Gmap :search="false" :height="300" :zoom="14" :events="false"></Gmap>
                        </div>
                        <driver-details :address="order.address" :name="employee.name" :mobile="employee.mobile" :branch="branch.name"></driver-details>
                    </div>
                </div>
            </section>
        </f7-block>
    </f7-page>
</template>

<script type="text/javascript" src="cordova.js"></script>
<script src="js/vendor.min.js"></script>
<script src="js/commons.min.js"></script>
<script src="js/app.min.js"></script>

<!--<script src="js/login.min.js"></script>-->
<!--<script src="js/menu.min.js"></script>-->
<!--<script src="js/checkout.min.js"></script>-->
<!--<script src="js/orders.min.js"></script>-->
<!--<script src="js/account.min.js"></script>-->
<!--<script src="js/register.min.js"></script>-->

</body>

</html>